<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body id="flexContainer">

        <header id="flexHeader">
        {{- partial "header.html" . -}}
        </header>

        <main id="flexMain">
        {{- block "main" . }}{{- end }}
        </main>

        <footer id="flexFooter">
        {{- partial "footer.html" . -}}
        </footer>

        <script src="js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
