        <div id="gridHeader">

            <!-- Dark Mode Toggler -->
            <div id="toggle">
                <input id="tgl" type="checkbox">
                <label for="tgl" class="pointer">
                    <span class=pointer><i class="fas fa-lightbulb fa-2x"></i></span>
                </label>
            </div>

            <!-- Title -->
            <div id="title">
                <h1>Adam Payne</h1>
            </div>

            <!-- Hamburger -->
            <div id="hamburger">
                <input id="burger" type="checkbox"/>
                <label for="burger" class="pointer">
                    <span class="pointer"><i class="fas fa-bars fa-2x"></i></span>
                </label>
            </div>

            <!-- Subtitle -->
            <div id="subtitle">
                <h2 class="subtitle">Developer | Stoic | Anarchist</h2>
            </div>

            <!-- Socials -->
            <div id="social">
                <nav class="social-nav">
                    <ul>
                        <li><a href="https://github.com/PayneLessDev"><i class="fab fa-github-square fa-2x"></i></a></li>
                        <li><a href="https://www.instagram.com/paynelessdev/"><i class="fab fa-instagram-square fa-2x"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/paynelessdev/"><i class="fab fa-linkedin fa-2x"></i></a></li>
                        <li><a href="https://twitter.com/PayneLessDev"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="https://medium.com/@paynelessdev"><i class="fab fa-medium fa-2x"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
